<html>
<head>
  <title>TheNewBoston</title>
</head>
<style>
body {
  text-align: center;
  font-style: normal;
  font-family: helvetica;
}
</style>
<body>
  <% include template/masterpage.ejs %></br></br>
<p><h4>New Boston Site Welcomes You to its <b>AboutUs Page</b></h4></br></br></br></br>
  There were more than ten million entries on AboutUs.com as of March 2008, and new pages are added at a rate of about 25,000 a day.</br>
  Most entries were created by a web robot (bot); web searches by users direct the bot to create a page for a web domain.</br>
  In many cases the content is simply a republication of the contents of the "About us", "About me", or similar page on the website.</br>
  Such pages typically describe the entity that owns the site, and may include self-promotional information, which AboutUs.com does not restrict.</br>
  In many other cases the content of an entry consists of the whois data for the website. As of February 2014, there were more than 20 million entries.</br></p>

</body>
</html>
