<html>
<head>
  <title>TheNewBoston</title>
</head>
<style>
body {
  text-align: center;
  font-style: normal;
  font-family: helvetica;
}
</style>
<body>
  <% include template/masterpage.ejs %></br></br>
  <p>New Boston Site Welcomes You to its <b>Home Page</b></p>

</body>
</html>
