<html>
<head>
  <title>TheNewBoston</title>
</head>
<style>
body {
  text-align: center;
  font-style: normal;
  font-family: helvetica;
}
form{
  border:1px solid #000000;
  margin:0px 200px;
  padding:50px 0px;
  background-color: #555555;
  color: #ffffff;
}
</style>
<body>
  <% include template/masterpage.ejs %>
</br>
</br>
  <form method="post" action="/signup" >
  <label for="User Name">User Name</label>
  <input type="text" placeholder="Enter username" name="name"></br></br>
  <label for="Password">Password</label>
  <input type="text" placeholder="Enter Password" name="psd"></br></br>
  <label for="Age">Age</label>
  <input type="text" placeholder="Enter Age" name="age"></br></br>

  <button type="submit">Signup</button>
</body>
</html>
